<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram account informaton</title>
</head>
<body>
    <h2>Instagram account informaton</h2>
    <form method="GET">
        <p><label for="tag">Type your intersrting instagram hashtag</label></p>
        <p><input type="text" id="tag" name="tag" value="{{ tag }}"></p>
        <input type="submit" value="Send">
    </form>
    {% for i in urls %}
        {{ i }}
    {% endfor %}
</body>
</html>
